
.panel-shadow {
/*    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;*/
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 60px!important;
  height:60px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 80px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
.navbar-toggle {
    float: left!important;
}
.navbar-toggle {
        border-color: #000!important;
    background: #000!important;
    margin-right: 0px;
}
.navbar-toggle:hover {
        border-color: #000!important;
    background: #000!important;
}
.navbar-inverse{
    background: #000;
}
.navbar-inverse .navbar-brand{
    color: #fff;
    text-transform: uppercase;
   
}
.loginsignup {
    float: right;
}
.signup-new {
    left: auto;
    background-color: #f4f4f4;
    min-width: 140px;
    z-index: 100000;
    color: #000;
    right: -15px;
    top:50px;
}
.signup-new li>a {
    color: #000;
    text-align: center;
    padding: 4px 15px;
    word-spacing: 1px;
}
.btn-menu{
        border-radius: 20px!important;
    font-size: 12px!important;
    padding: 10px!important;
    letter-spacing: 1px!important;
    color: #fff!important;
    margin-top: 5px!important;
}
 .card{border-radius:7px;border-color:#e1e7ec;box-shadow: 1px 1px 1px 1px #d4d4d5, 0 1px 4px #d4d4d5;}
 
 
 /* -------------------------------------------------------------------------------------------------  */
 * .search-table{width:100%;margin:0;padding:0;border-collapse:collapse;border-spacing:0;background:#fff;border-radius:10px!important;}
    .search-table td{color:#666;}
    .search-table td{padding:5px;border-bottom:0px; }
    #responsive{width: 40px;}
    #responsive img{width: 40px;height: 40px; border-radius: 50%;}
    .responsive{width: 40px;}
    .responsive img{width: 40px;height: 40px; border-radius: 50%;}

    .ui-menu .ui-menu-item{list-style-image:none!important;}
    .ui-widget.ui-widget-content{   background-color: #fff!important;}
    .ui-menu.ui-widget-content{border: 1px solid #fff!important;}
    .search-table:hover{background: #fff!important;border: 0px!important;}
    ul.ui-autocomplete.ui-menu li{
        text-align:left;
    }


    #first-slider .main-container {
        padding: 0;
    }


    #first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        font-weight:700;
    }

    #first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    }
    #first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
        padding-left: 40px;
    }


    #first-slider .carousel-indicators {
        bottom: 0;
    }
    #first-slider .carousel-control.right,
    #first-slider .carousel-control.left {
        background-image: none;
    }
    #first-slider .carousel .item {
        min-height: 425px; 
        height: 100%;
        width:100%;
    }

    .carousel-inner .item .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }


    #first-slider h3{
        animation-delay: 1s;
    }
    #first-slider h4 {
        animation-delay: 2s;
    }
    #first-slider h2 {
        animation-delay: 3s;
    }


    #first-slider .carousel-control {
        width: 6%;
        text-shadow: none;
    }


    #first-slider h1 {
        text-align: center;  
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: bold;
    }

    #first-slider .p {
        padding-top: 125px;
        text-align: center;
    }

    #first-slider .p a {
        text-decoration: underline;
    }
    #first-slider .carousel-indicators li {
        width: 14px;
        height: 14px;
        background-color: rgba(255,255,255,.4);
        border:none;
    }
    #first-slider .carousel-indicators .active{
        width: 16px;
        height: 16px;
        background-color: #fff;
        border:none;
    }


    .carousel-fade .carousel-inner .item {
        -webkit-transition-property: opacity;
        transition-property: opacity;
    }
    .carousel-fade .carousel-inner .item,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        opacity: 0;
    }
    .carousel-fade .carousel-inner .active,
    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }
    .carousel-fade .carousel-inner .next,
    .carousel-fade .carousel-inner .prev,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-control {
        z-index: 2;
    }

    .carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
    }
    .carousel-control .fa-angle-left{
        left: 50%;
        width: 38px;
        height: 38px;
        margin-top: -15px;
        font-size: 30px;
        color: #fff;
        border: 3px solid #ffffff;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        border-radius: 53px;
    }
    .carousel-control .fa-angle-right{
        right: 50%;
        width: 38px;
        height: 38px;
        margin-top: -15px;
        font-size: 30px;
        color: #fff;
        border: 3px solid #ffffff;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        border-radius: 53px;
    }
    .carousel-control {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .mobile-view-tag{
            border: 1px solid #b1adad2e!important;
    }

