
.panel-shadow {
/*    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;*/
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 60px!important;
  height:60px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 80px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}


.loginsignup {
    float: right;
}
.signup-new {
    left: auto;
    background-color: #f4f4f4;
    min-width: 140px;
    z-index: 100000;
    color: #000;
    right: -15px;
    top:50px;
}
.signup-new li>a {
    color: #000;
    text-align: center;
    padding: 4px 15px;
    word-spacing: 1px;
}
.btn-menu{
        border-radius: 20px!important;
    font-size: 12px!important;
    padding: 10px!important;
    letter-spacing: 1px!important;
    color: #fff!important;
    margin-top: 5px!important;
}
 .card{border-radius:0px;border-color:#e1e7ec;box-shadow: 1px 1px 1px 1px #d4d4d5, 0 1px 4px #d4d4d5;    background-color:#fff!important;}
 
 
 /* -------------------------------------------------------------------------------------------------  */
 * .search-table{width:100%;margin:0;padding:0;border-collapse:collapse;border-spacing:0;background:#fff;border-radius:10px!important;}
    .search-table td{color:#666;}
    .search-table td{padding:5px;border-bottom:0px; }
    #responsive{width: 40px;}
    #responsive img{width: 40px;height: 40px; border-radius: 50%;}
    .responsive{width: 40px;}
    .responsive img{width: 40px;height: 40px; border-radius: 50%;}

    .ui-menu .ui-menu-item{list-style-image:none!important;}
    .ui-widget.ui-widget-content{   background-color: #fff!important;}
    .ui-menu.ui-widget-content{border: 1px solid #fff!important;}
    .search-table:hover{background: #fff!important;border: 0px!important;}
    ul.ui-autocomplete.ui-menu li{
        text-align:left;
    }

    .mobile-view-tag{
            border: 1px solid #b1adad2e!important;
    }
    .go-live-header{
    color: #b51817!important;
    font-weight: 600;
    font-size: 18px;
    }
    
    .add-live-stream a{
         background: #000;
    color: #fff!important;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    }


    .header-section{
        padding:0;
        width:100%;
        z-index:100;
        display:block;
        margin:0 auto;
        position:relative;
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
    }
    .header-section-container{
        padding:0;
        width:100%;
        z-index:100;
        display:block;
        margin:0 auto;
        position:relative;
    }
    .top-header{
        z-index:5;
        padding:0;
        width:100%;
        display:block;
        margin:0 auto;
        position:relative;
        text-align:center;
        background-color:#ffffff;
        border-bottom:1px solid #efefef5c;
    }
    .top-header a{
        color:#212121;
    }
    .top-header a:hover{
        color:#3a5784;
    }
    .col-w-25 .top-header-widget-container .navbar-brand{
        margin:0 auto;
        line-height:90px;
    }
    .col-w-25 .top-header-widget-container .navbar-brand>img{
        max-height:90px;
    }
    .top-header-widget{
        z-index:5;
        width:100%;
        display:block;
        margin:0 auto;
        line-height:0;
        position:relative;
        padding:10px 15px;
    }
    .top-header-widget-container{
        padding:0;
        position:relative;
        display:inline-block;
    }
    .top-header-widget-container::after{
        content:'';
        clear:both;
        display:table;
    }
    .header-menu{
        z-index:4;
        padding:0;
        width:100%;
        display:block;
        margin:0 auto;
        position:relative;
    }
    .header-menu-container{
        z-index:4;
        padding:0;
        width:100%;
        display:block;
        margin:0 auto;
        position:relative;
        background-color:#ffffff;
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
        -webkit-transition:all 0.30s ease-in-out;
        transition:all 0.30s ease-in-out;
        -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.10);
        -moz-box-shadow:0 4px 8px rgba(0,0,0,0.10);
        box-shadow:0 4px 8px rgba(0,0,0,0.10);
    }
    .navbar{
        border:0;
        margin:0;
        min-height:1px;
        border-radius:0;
        -webkit-transition:all 0.30s ease-in-out;
        transition:all 0.30s ease-in-out;
    }
    .navbar-brand{
        padding:0;
        height:auto;
        color:#212121;
        font-size:25px;
        font-weight:700;
        line-height:50px;
        margin:15px auto;
        text-transform:uppercase;
    }
    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{
        margin-left:auto;
    }
    .navbar-brand>img{
        margin:0 auto;
        max-width:100%;
        max-height:50px;
    }
    .navbar-brand>img.transparent-header-logo{
        display:none;
    }
    .navbar-toggle{
        border:0;
        padding:0;
        height:16px;
        font-size:0;
        line-height:0;
        margin:32px 0;
        color:#212121;
        border-radius:0;
        font-weight:400;
        overflow:hidden;
        text-transform:uppercase;
    }
    .header-menu-left-side .navbar-toggle{
        float:left;
        margin:22px 0;
    }
    .navbar-toggle{
            width: 100%;
    color: #000;
    background: transparent!important;
    margin: 5px;
    }
   
    .navbar-toggle span{
        font-size:20px;
        overflow:hidden;
        line-height:16px;
        position:relative;
        display:inline-block;
        vertical-align:middle;
    }
    .navbar-toggle span.menu-wd{
        padding-right:5px;
    }
    .navbar-toggle span.lines-wrapper{
        width:16px;
        height:16px;
        font-size:16px;
        line-height:16px;
        -webkit-transform-origin:center;
        -ms-transform-origin:center;
        transform-origin:center;
        -webkit-transition:transform 0.30s ease-in-out;
        transition:transform 0.30s ease-in-out;
        -webkit-animation:gfortMenuButton 1s forwards;
        animation:gfortMenuButton 1s forwards;
    }
    .navbar-toggle span.lines-wrapper i{
        width:100%;
        height:2px;
        margin:7px 0;
        display:block;
        position:relative;
        background-color:#212121;
        -webkit-animation:gfortMenuButtonLines 1s forwards;
        animation:gfortMenuButtonLines 1s forwards;
    }
    .navbar-toggle span.lines-wrapper i::after,.navbar-toggle span.lines-wrapper i::before{
        left:0;
        height:2px;
        width:100%;
        content:'';
        display:block;
        position:absolute;
        background-color:#212121;
        -webkit-transform-origin:center;
        -ms-transform-origin:center;
        transform-origin:center;
        -webkit-transition:all 0.30s ease-in-out;
        transition:all 0.30s ease-in-out;
    }
    .navbar-toggle span.lines-wrapper i::after{
        -webkit-animation:gfortMenuButtonLinesBottom 1.5s forwards;
        animation:gfortMenuButtonLinesBottom 1.5s forwards;
    }
    .navbar-toggle span.lines-wrapper i::before{
        -webkit-animation:gfortMenuButtonLinesTop 1.5s forwards;
        animation:gfortMenuButtonLinesTop 1.5s forwards;
    }
    .gfort-menuButton-toggle.navbar-toggle span.lines-wrapper{
        -webkit-animation:gfortMenuButtonToggle 1s forwards;
        animation:gfortMenuButtonToggle 1s forwards;
    }
    .gfort-menuButton-toggle.navbar-toggle span.lines-wrapper i{
        -webkit-animation:gfortMenuButtonLinesToggle 1s forwards;
        animation:gfortMenuButtonLinesToggle 1s forwards;
    }
    .gfort-menuButton-toggle.navbar-toggle span.lines-wrapper i::after{
        -webkit-animation:gfortMenuButtonLinesBottomToggle 1.5s forwards;
        animation:gfortMenuButtonLinesBottomToggle 1.5s forwards;
    }
    .gfort-menuButton-toggle.navbar-toggle span.lines-wrapper i::before{
        -webkit-animation:gfortMenuButtonLinesTopToggle 1.5s forwards;
        animation:gfortMenuButtonLinesTopToggle 1.5s forwards;
    }

    .navbar-collapse.collapse{
        margin:0;
        border:0;
        padding:0;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
    }
    @media (min-width: 768px) {
        .navbar-collapse.collapse{
            float:right;
        }
    }
    ul.navbar-nav{
        padding:0;
        width:auto;
        margin:0 -15px;
        list-style:none;
        overflow: hidden;
    }
    ul.navbar-nav>li{
        margin:0 15px;
    }
    .navbar-collapse.collapse{
            overflow: hidden;
    }
    ul.navbar-nav>li>a{
        color:#212121;
        padding:30px 0;
        font-size:13px;
        overflow:hidden;
        font-weight:700;
        line-height:20px;
        letter-spacing:0.30px;
        text-transform:uppercase;
    }
    ul.navbar-nav>li>a::after{
        top:0;
        width:0;
        left:50%;
        content:'';
        height:2px;
        z-index:10;
        position:absolute;
        background-color:#000;
        -webkit-transition:all 0.30s ease-in-out;
        transition:all 0.30s ease-in-out;
    }
    ul.navbar-nav>li>a:hover,ul.navbar-nav>li>a:focus,ul.navbar-nav>li.current_page_item>a{
        background-color:transparent;
    }
    ul.navbar-nav>li>a:hover::after,ul.navbar-nav>li.current_page_item>a::after,[data-spy="scroll"] ul.navbar-nav>li.active>a::after{
        left:0;
        width:100%;
    }
    ul.navbar-nav li ul li.active-menu-item>a{
        opacity:0.90;
    }
    .menu-arrow{
        float:right;
        color:#666666;
        font-size:16px;
        overflow:hidden;
        margin-left:5px;
        text-align:right;
        position:relative;
        line-height:inherit;
    }

    @media (min-width: 768px) {
        .header-menu-left-side .navbar-collapse.collapse{
            float:left;
        }
    }
    .header-menu-left-side .navbar-header{
        display:none;
    }
    .header-menu-left-side ul.navbar-nav>li>a{
        padding:20px 0;
    }
    .header-menu-left-side ul.header-btns{
        margin:0;
        padding-left:5px;
    }
    .header-menu-left-side ul.header-btns>li>a{
        padding:20px 0;
    }
    .header-menu-center-side{
        line-height:0;
        text-align:center;
    }
    @media (min-width: 768px) {
        .header-menu-center-side .navbar-collapse.collapse{
            float:none;
            display:inline-block!important;
        }
    }
    .header-menu-center-side .navbar-header{
        display:none;
    }
    .header-menu-center-side ul.navbar-nav>li>a{
        padding:20px 0;
    }

    .fade-bg{background-color:rgba(0,0,0,.51);position:fixed;top:0;left:0;bottom:0;right:0;display:none;z-index:1}
ul.fab-menu{top:16px;right:10px!important;padding:0;margin:0;list-style:none;position:fixed;z-index:1000}
ul.fab-menu>li>a{background-color:#c44848;color:#fff;width:35px;height:35px;display:block;font-size:20px;border-radius:100%;text-decoration:none;position:relative;z-index:1000}
ul.fab-menu>li>a>i{padding:7px 0px 0px 0px;}
ul.fab-menu>li>a:hover{color:#fff;}
ul.fab-menu-inner{top:3s0px;list-style:none;padding:0;margin:0;position:absolute;right:0;display:none}
ul.fab-menu-inner>li>a{
    background-color: #c44848;
    color: #fff;
    width: 35px;
    height: 35px;
    display: block;
    font-size: 16px;
    border-radius: 100%;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    margin: 15px 0;
    position: relative;
    padding: 6px;
    font-weight: 500;
}
ul.fab-menu-inner>li>a>i{padding:8px 0 0px 8px;font-size:18px}
ul.fab-menu-inner>li>a:hover{color:#fff;}
ul.fab-menu-inner .fa-info{padding:13px 0 15px 18px}
ul.fab-menu-inner .fa-sign-out{padding: 9px 0 0px 10px;}
span.tip-name{position:absolute;left:-190px;background-color:#c44848;color:#fff;font-size:16px;padding:4px 10px;border-radius:5px;width:180px;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;top:4px}
.floating{float:left;-webkit-animation-name:Floatingx;-webkit-animation-duration:3s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;-moz-animation-name:Floating;-moz-animation-duration:3s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:ease-in-out;margin-left:30px;margin-top:5px}@-webkit-keyframes Floatingx{from{-webkit-transform:translate(0,0)}65%{-webkit-transform:translate(0,15px)}to{-webkit-transform:translate(0,0)}}@-moz-keyframes Floating{from{-moz-transform:translate(0,0)}65%{-moz-transform:translate(0,15px)}to{-moz-transform:translate(0,0)}}.popin{-webkitanimation:popin .3s ease-in-out;-moz-animation:popin .3s ease-in-out;-ms-animation:popin .3s ease-in-out;animation:popin .3s ease-in-out;display:block!important}@-webkit-keyframes popin{0%{-webkit-transform:scale(-.1);transform:scale(-.1)}90%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes popin{0%{-webkit-transform:scale(-.1);transform:scale(-.1)}90%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}}
.poput{-webkitanimation:poput .3s ease-in-out;-moz-animation:poput .3s ease-in-out;-ms-animation:poput .3s ease-in-out;animation:poput .3s ease-in-out}@-webkit-keyframes poput{from{-webkit-transform:scale(1.2);transform:scale(1.2)}to{-webkit-transform:scale(.7);transform:scale(.7)}}@keyframes poput{from{-webkit-transform:scale(1.2);transform:scale(1.2)}to{-webkit-transform:scale(.7);transform:scale(.7)}}
